<body>
    <h1> 采购单 </h1>
    <p> 单号 {{purchase_form.id}} </p>
    <p> 发起人 {{purchase_form.create_user.user_name}} </p>
    <p> 发起时间 {{purchase_form.create_time}} </p>
    <p> 供应商 {{purchase_form.provider.name}} </p>
    <p> 供应商地址 {{purchase_form.provider.address}} </p>
    <table>
        <tr>
            <td> 序号 </td>
            <td> 药品名称 </td>
            <td> 药品数量 </td>
            <td> 价格 </td>
        </tr>
        {% for detail in detail_list %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> {{detail.medicine.name}} </td>
                <td> {{detail.num}} </td>
                <td> {{detail.price}} </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'purchase:query' %}">确认</a>
</body>
