<body>
    <p> 出库单一览 </p>
    <table>
        <tr>
            <td> 序号 </td>
            <td> 明细 </td>
            <td> 发起时间 </td>
            <td> 发起人 </td>
            <td> 出库仓库 </td>
            <td> 出库状态 </td>
            <td> 按钮 </td>
        </tr>
        {% for checkout in checkout_list %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td><a href="{% url 'checkout:query_detail' checkout.id %}">明细</a></td>
                <td> {{checkout.create_time}} </td>
                <td> {{checkout.create_user.user_name}} </td>
                <td> 1号仓库 </td>
                {% if checkout.status == 0 %}
                    <td>
                        {{status_dict.0}}
                    </td>
                {% endif %}
                {% if checkout.status == 1 %}
                    <td>
                        {{status_dict.1}}
                    </td>
                {% endif %}
                {% if checkout.status == 0 %}
                    <td>
                        <a type="button" href="{% url 'checkout:move' checkout.id %}">出库</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'user:index' %}">回到首页</a>
</body>