<body>
    <h1> 当前需求 </h1>
    <form action="{% url 'demand:submit' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td> 序号 </td>
                <td> 需求方名称 </td>
                <td> 药品名称 </td>
                <td> 药品数量 </td>
                <td> 是否选择 </td>
            {% for demand in demand_list %}
                <tr>
                    <td> {{demand.id}} </td>
                    <td> {{demand.demander.name}} </td>
                    <td> {{demand.medicine.name}} </td>
                    <td> {{demand.num}} </td>
                    <td>
                        <input name="{{demand.id}}" type="checkbox" value="checked" />
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="提交">
    </form>
    <a href="{% url 'user:index' %}">回到首页</a>
</body>
